ion-card{
  margin-top: 20%;
  margin-bottom: 20%;
  background-color: rgb(41, 81, 214);
}
p{
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
  margin: 0%;
  margin-top: 2%;
  margin-bottom: 2%;
}
ion-button{
  color: rgb(252, 252, 252);
  margin: 0%;
}
h1{
  font-size: 100%;
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 0%;
}
